body{    
margin: 0;
padding: 0;
background: powderblue;  
height: 100vh;
box-sizing: border-box;
font-size: 1.5rem;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

/* header area */

.header{
    display: grid;
    grid-area: 1 / 2 / 2 / 3;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 0.5rem 2rem 0 3rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.search-area > label > .small-icons, .large-display-icon{
    margin-right: 20px;
}

.small-icons{
    height: 2rem;  
    vertical-align: middle;   
}

.large-display-icon{
    vertical-align: middle;
}
 .small-display-icon, .large-display-icon{
    background: purple;
    border: 2px solid;
    border-radius: 50%;
    padding: 5%;
 }

.small-display-icon{
height: 3rem;
}

.large-display-icon{
    height: 4rem;    
}

.search-area{
display: flex;
align-items: center;
}

input[type='search']{
width: 70%;
height: 2.5rem;
border-radius: 18px;
border: none;
background-color: rgb(64, 70, 124);
}

.top-right{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.top-right > p{
    font-weight: bold;
}

.welcome{
    display: flex; 
    align-items: center;
}
.welcome > .hi-name > p{
    margin: 0;
}

.welcome > .hi-name > :nth-child(2){
font-size: 2rem;
}

.hi-name{
    display: flex;
    flex-direction: column;
}

.content-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-buttons > button{
    height: 3rem;
    width: 8rem;
    border-radius: 38px;
    border: none;
    font-size: 1.3rem;
}

/* sidebar area */

.sidebar{
    grid-area: 1 / 1 / 3 / 2;
    background: #38BDF8;
    padding: 3rem;
}

.logo-and-name{
    display: flex;
    align-items: center;
}

.page-icon{
    height: 4rem;
}

.sidebar-icons{
    display: flex;
    align-items: center;
   
}

.sidebar-options{
height: 2rem;
}

.logo-and-name > p{
    font-size: 2.5rem;
    margin: 15px 0 15px 15px;
    
}
.sidebar-icons > p{
    font-size: 2rem;
    margin: 15px 0 15px 15px;
}

.logo-and-name, .main-tasks, .misc-tasks{
 margin-bottom: 3rem;
}
/* main area  */

.main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-area: 2 / 2 / 3 / 4;
    padding: 4%;
    gap: 2%;
}

.projects-banner{
    grid-column: 1 / -1;
    height: 2rem;
    margin: 0;
}

.projects{
    grid-area: 1 / 1 / 3 / 2; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content auto auto;
    gap: 2rem;
}

.project-card > :nth-last-child(2){
    font-size: 1.5rem;
    word-wrap: break-word;
}

.project-card{
    display: flex;
    flex-direction: column;
    background: rgb(108, 93, 179); 
    justify-content: space-around;  
    padding: 2%;
    border-radius: 16px;
}

.card-icon{
    height: 2rem; 
    margin-right: 5%;
}

.project-icons{
    display: flex;
    justify-content: flex-end;
}

.project-title-and-blurb > p{
    margin: 2%;
}
.announcements{
    grid-area: 1 / 2 / 2 / 3;
    grid-template-columns: 1fr;
    border-radius: 16px;
    display: grid;
    grid-template-rows: min-content min-content; 
    gap: 2rem;  
}

.announcements-banner{
    grid-column: 1 / -1;
    height: 2rem;
    margin: 0;
}

.all-announcements{
    display: flex;
    flex-direction: column;
    background: rgb(108, 93, 179); 
    border-radius: 16px; 
    gap: 2rem;
    padding: 2rem;
}

hr{
    width: 90%;
}
.trending{
    grid-area: 2 / 2 / 3 / 3;
    border-radius: 16px;
    display: grid;
    grid-template-rows: min-content auto;
    gap: 2rem; 
}

.trending-banner{
    grid-column: 1 / -1;
    height: 2rem;
    margin: 0;
}

.all-trending{
   display: flex;
   flex-direction: column;
    background: rgb(108, 93, 179); 
    border-radius: 16px; 
    padding: 2rem;
    justify-content: space-around;
}

.user{
    display: grid;
grid-template-columns: 1fr 2fr;
padding: 5px;
align-items: center;
}

.user > .small-display-icon{
    grid-area: 1 / 1 / 3 / 2;
}

.user > p{
    margin: 0;
}
